[Unit]
Description=Vault
After=network-online.target

[Service]
User={{vault_user}}
User={{vault_group}}
ExecStart=/bin/{{vault_filename}} server -config=/etc/vault.d
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
