[Unit]
Description=Nexus
After=network.target
  
[Service]
User={{nexus_user}}
User={{nexus_group}}
Type=forking
ExecStart=/usr/lib/nexus/nexus-{{nexus_version}}/bin/nexus start
ExecStop=/usr/lib/nexus/nexus-{{nexus_version}}/bin/nexus stop
Restart=on-abort
  
[Install]
WantedBy=multi-user.target
